* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #1a1a2e; /* Dark background color */
    --secondary-color: #e94560; /* Bright neon pink */
    --highlight-color: #00adb5; /* Bright cyan */
    --text-color: #ffffff; /* White */
}
body {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(26, 26, 46, 0.8)); /* Dark gradient */
    color: var(--text-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar {
    background-color: var(--primary-color);
    background-attachment: fixed;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px var(--secondary-color);
}
.navbar a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
}
.navbar a:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    transform: scale(1.1);
    border-radius: 30px;
    text-shadow: 0 0 5px var(--secondary-color);
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* Darker background for hero section */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px var(--secondary-color);
}
.hero h1 {
    font-size: 2rem;
    margin: 0;
    animation: fadein 2s ease;
    color: var(--text-color);
    text-shadow: 0 0 10px var(--secondary-color);
}
.hero p {
    font-size: 1.5rem;
    margin: 20px 0;
    color: var(--text-color);
    text-shadow: 0 0 10px var(--secondary-color);
}
.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 4px 15px var(--secondary-color);
}
.slides {
    display: flex;
    width: 400%;
    animation: slide 50s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}
@media(max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }
    .navbar a {
        text-align: center;
        padding: 8px 12px;
        font-size: 0.9rem;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1rem;
    }
    .slider {
        height: 250px;
    }
}